.alert {
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #fff7c4;
    margin-bottom: 1em;
    font-size: 0.9em;
    margin-right: 1em;
    color: #897800;
}

.page-header {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 1em;
}

.page-header h1 {
    margin-top: 0;
}

/* Pager */

.pager {
    text-align: center;
}

.pager-item {
    padding: 0.1em 0.2em;
}

.pager-btn {
    color: #e68a00;
    cursor: pointer;
}

.pager-btn:hover,
.pager-btn:focus {
    color: #b36b00;
    text-decoration: underline;
}

.pager-btn.disabled,
.pager-btn.disabled:hover,
.pager-btn.disabled:focus {
    color: #777;
    cursor: not-allowed;
}

/* Message */

.message {
    margin-bottom: 1em;
}

.message-type {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.message-date {
    margin-bottom: 0.5em;
}

.message-body {
    margin-bottom: 0.5em;
}

/* Upstream */

.text-upstream {
    color: #6599ff;
}

.link-upstream {
    color: #6599ff;
}

.link-upstream:hover,
.link-upstream:focus {
    color: #98bbff;
}

.upstream {
    padding-left: 2em;
    padding-bottom: 1em;
}

.upstream-message-preview {
    background-color: #dbe7ff;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-right: 1em;
    border-radius: 0.5em;
}

.upstream-editor-list {
    padding-left: 0;
    list-style: none;
}

.upstream-editor-list li {
    cursor: pointer;
    color: #6599ff;
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
}

.upstream-editor-list li.active {
    background-color: #6599ff;
    color: #fff;
}

.upstream-text-editor {
    font-family: monospace;
}

/* Downstream */

.downstream {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.text-downstream {
    color: #097054;
}

.text-downstream-muted {
    color: #0da67d;
}

.link-downstream {
    color: #097054;
}

.link-downstream:hover,
.link-downstream:focus {
    color: #0d9f77;
}

.downstream-header {
    padding-top: 2em;
    margin-bottom: 1em;
}

.downstream-header h2 {
    margin-top: 0;
}

.downstream-messages {
    padding-bottom: 1em;
}

.downstream-messages li {
    margin-bottom: 1em;
}

/* Channels */

.channels {
    padding-left: 2em;
    padding-bottom: 1em;
}

.channels h3 {
    margin-top: 0;
}

/* Exporter */

.exporter {
    padding-left: 2em;
    padding-bottom: 2em;
}

/* JSON Formatter */

.json-formatter-row .string {
    white-space: pre-wrap;
}

