body {
    color: #333;
    font-family: "Open Sans", sans-serif;
}

.text-foo { color: #ff9900; }
.text-bar { color: #ffde00; }

.text-muted { color: #777; }


/* Headings */

h1 small,
h2 small {
    font-weight: normal;
    color: #777;
}

/* Code */

code,
pre {
    font-size: 0.8em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
    padding-left: 1em;
    line-height: 1.4;
}

/* Lists */

dl dt {
    font-weight: bold;
}

dl dd {
    margin-bottom: 1em;
    margin-left: 0;
}

ul {
    padding-left: 1.5em;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -0.5em;
}

.list-inline li {
    display: inline-block;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

/* Link */

a {
    color: #e68a00;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #b36b00;
    text-decoration: underline;
}


