<div class="form-group">
  <label for="category">Category</label>
  <select
    id="category"
    name="category"
    class="form-control"
    ng-model="message.category">
    <option value="TEMPORARY">New Rooms</option>
    <option value="MAIN">Main</option>
    <option value="CLUBS">Clubs</option>
    <option value="LESSONS">Lessons</option>
    <option value="TOURNAMENT">Tournaments</option>
    <option value="FRIENDLY">Social</option>
    <option value="NATIONAL">National</option>
  </select>
</div>

