<div class="form-group">
  <label for="callbackKey">Callback key</label>
  <input
    class="form-control"
    id="callbackKey"
    name="callbackKey"
    type="number"
    ng-model="message.callbackKey"
    callback-key
    required>
</div>

<div
  class="alert"
  ng-show="form.$submitted && form.callbackKey.$error.required">
  Callback key can't be blank
</div>

<div
  class="alert"
  ng-show="form.$submitted && (form.callbackKey.$error.number || form.callbackKey.$error.callbackKey)">
  Callback key must be an unsigned integer
</div>

<div class="form-group">
  <label for="name">Name</label>
  <input
    class="form-control"
    id="name"
    name="name"
    type="text"
    ng-model="message.name"
    ng-maxlength="50">
</div>

<div
  class="alert"
  ng-show="form.$submitted && form.name.$error.maxLength">
  Name is too long (maximum is 50 characters)
</div>

<div class="form-group">
  <label for="description">Description</label>
  <textarea
    class="form-control"
    id="description"
    name="description"
    ng-model="message.description"
    ng-maxlength="1000"></textarea>
</div>

<div
  class="alert"
  ng-show="form.$submitted && form.description.$error.maxLength">
  Description is too long (maximum is 1500 characters)
</div>

<div
  class="form-group"
  ng-if="authLevel >= AUTH_LEVELS.jr_admin">
  <label for="category">Category</label>
  <select
    id="category"
    name="category"
    class="form-control"
    ng-model="message.category">
    <option value="TEMPORARY">New Rooms</option>
    <option value="MAIN">Main</option>
    <option value="CLUBS">Clubs</option>
    <option value="LESSONS">Lessons</option>
    <option value="TOURNAMENT">Tournaments</option>
    <option value="FRIENDLY">Social</option>
    <option value="NATIONAL">National</option>
  </select>
</div>

<div
  class="form-group"
  ng-if="authLevel >= AUTH_LEVELS.jr_admin">
  <label for="locale">Locale</label>
  <select
    id="locale"
    class="form-control"
    name="locale"
    ng-options="lc.id as lc.language+' ('+lc.country+')' for lc in locales | orderBy:'language'"
    ng-model="message.locale"></select>
</div>

<div class="form-group">
  <label for="private">
    <input
      type="checkbox"
      id="private"
      class="form-control"
      name="private"
      ng-model="message.private">
    Private
  </label>
</div>

<div class="form-group">
  <label for="tourn-only">
    <input
      type="checkbox"
      id="tourn-only"
      class="form-control"
      name="tournOnly"
      ng-model="message.tournOnly">
    Only tournament games
  </label>
</div>

<div class="form-group">
  <label for="global-only">
    <input
      type="checkbox"
      id="global-only"
      class="form-control"
      name="globalOnly"
      ng-model="message.globalOnly">
    Global games only
  </label>
</div>

