<div class="exporter" ng-controller="exporterCtrl">
  <div ng-show="isAvailable">
    <h2>
      Export Messages
    </h2>
    <p>
      Generates a JSON file that includes the API endpoint,
      upstream/downstream messages and errors caught while communicating
      with the KGS go server. Helps you report a bug or read KGS messages
      later.
    </p>
    <form ng-submit="export()">
      <div class="form-group">
        <label for="indent">Indentation</label>
        <select
          id="indent"
          class="form-control"
          ng-model="indent">
          <option value="1">1 space</option>
          <option value="2">2 spaces</option>
          <option value="3">3 spaces</option>
          <option value="4">4 spaces</option>
          <option value="5">5 spaces</option>
          <option value="6">6 spaces</option>
          <option value="7">7 spaces</option>
          <option value="8">8 spaces</option>
          <option value="tab">Tab</option>
          <option value="0">None</option>
        </select>
      </div>
      <div class="form-group">
        <label for="hide-password">
          <input
            type="checkbox"
            id="hide-password"
            class="form-control"
            ng-model="hidePassword">
          Hide password
        </label>
      </div>
      <input class="btn" type="submit" value="Export">
    </form>
  </div>
</div>

