<div
  class="history"
  id="history"
  ng-controller="historyCtrl">
  <h3 class="text-upstream">
    <i class="fa fa-history"></i>
    History
  </h3>
  <div ng-repeat="message in entries | limitTo: entriesPerPage:first() track by $index">
    <div class="message">
      <div class="message-type text-upstream">
        {{message.body.type}}
        <a
          class="link-upstream"
          target="_blank"
          ng-href="https://metakgs.org/apps/json-client/upstream.html#{{message.body.type}}">
          <i class="fa fa-external-link"></i>
        </a>
      </div>
      <div class="message-body">
        <json-formatter open="1" json="message.body"></json-formatter>
      </div>
    </div>
  </div>
  <nav>
    <ul class="list-inline pager">
      <li
        class="pager-item pager-btn"
        ng-show="previousPage()"
        ng-click="currentPage=previousPage()">
        <i class="fa fa-angle-left"></i>
        Previous
      </li>
      <li
        class="pager-item"
        ng-show="lastPage() > 1">
        Page {{currentPage}}/{{lastPage()}}
      </li>
      <li
        class="pager-item pager-btn"
        ng-show="nextPage()"
        ng-click="currentPage=nextPage()">
        Next
        <i class="fa fa-angle-right"></i>
      </li>
    </ul>
  </nav>
</div>

