<div
  class="upstream"
  ng-controller="upstreamCtrl">
  <h2 class="text-upstream">
    <i class="fa fa-arrow-up"></i>
    Upstream
  </h2>
  <div class="alert" ng-show="error">{{error}}</div>
  <ul class="editor-list">
    <li
      ng-click="useTextEditor=false"
      ng-class="{ active: !useTextEditor }">
      Form
    </li>
    <li
      ng-click="useTextEditor=true"
      ng-class="{ active: useTextEditor }">
      Text
    </li>
  </ul>
  <div ng-show="useTextEditor">
    <ng-include src="'partials/text-editor.html'"></ng-include>
  </div>
  <div ng-show="!useTextEditor">
    <ng-include src="'partials/editor.html'"></ng-include>
  </div>
</div>
 
