<!DOCTYPE html>
<html lang="en" ng-app="kgsApiExplorer">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>KGS API Exolorer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="bower_components/json-formatter/dist/json-formatter.css">
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/typography.css">
  <link rel="stylesheet" href="css/forms.css">
  <link rel="stylesheet" href="css/components.css">
  <script src="bower_components/kgspoller/index.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/json-formatter/dist/json-formatter.js"></script>
  <script src="js/app.js"></script>
  <script src="js/app/controllers.js"></script>
  <script src="js/app/services.js"></script>
  <script src="js/app/directives.js"></script>
</head>
<body>
  <div class="container">

    <div class="column-center" ng-controller="downstreamCtrl">
      <h2 class="text-downstream">
        <i class="fa fa-refresh" ng-class="{'fa-spin': isPolling}"></i>
        Downstream
      </h2>
      <div class="alert" ng-show="error">{{error}}</div>
      <div class="form-group">
        <label for="query" class="text-downstream">
          <i class="fa fa-search"></i>
          Search messages
        </label>
        <input id="query" class="form-control" type="text" ng-model="query">
      </div>
      <ul class="list-unstyled history">
        <li ng-repeat="message in messages | filter: query track by $index">
          <json-formatter open="1" json="message"></json-formatter>
        </li>
      </ul>
    </div><!-- /.column-center -->

    <div class="column-left">
      <header ng-controller="headerCtrl">
        <h1>
          KGS API Explorer<br>
          <small>{{message}}</small>
        </h1>
        <ul>
          <li><a href="http://www.gokgs.com/help/protocol.html">KGS Protocol</a></li>
          <li><a href="http://metakgs.org/apps/json-client/protocol.html">API Documentation</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/kgs-client-coding">Mailing List</a></li>
        </ul>
      </header>
      <div ng-controller="upstreamCtrl">
        <h2 class="text-upstream">
          <i class="fa fa-arrow-up"></i>
          Upstream
        </h2>
        <div class="alert" ng-show="error">{{error}}</div>
        <div class="preview">
          <json-formatter open="1" json="message"></json-formatter>
        </div>
        <form name="form" ng-submit="send(form)" novalidate>
          <div class="form-group">
            <label for="type">Type</label>
            <select id="type" class="form-control"
              ng-options="type for type in types"
              ng-model="message.type"></select>
          </div>
          <ng-include src="'partials/'+message.type+'.html'"></ng-include>
          <input class="btn" type="submit" value="Send" ng-disabled="isSending">
        </form>
        <div ng-show="history.length" class="history">
          <h3 class="text-upstream">
            <i class="fa fa-history"></i>
            History
          </h3>
          <ul class="list-unstyled history">
            <li ng-repeat="message in history | filter: query track by $index">
              <json-formatter open="1" json="message"></json-formatter>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /.column-left -->

    <div class="column-right">
      <div ng-controller="channelSubscriptionsCtrl">
        <div ng-show="channels">
          <h3 class="text-downstream">
            Channel subscriptions
          </h3>
          <ul class="list-unstyled">
            <li ng-repeat="(id, channel) in channels">
              <span class="text-downstream-muted">
                [{{channel.type | lowercase}}]
              </span>
              {{id}}
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /.column-right -->

  </div><!-- /.container -->
</body>
</html>

